In [2]:
import pandas as pd
salm = pd.read_csv('/Users/evelyn/Desktop/Cubic spline/salm_nooutliers.csv')
noro = pd.read_csv('/Users/evelyn/Desktop/Cubic spline/noro_nooutliers.csv')

## New York

In [3]:
fre_NY = pd.DataFrame()

import datetime
starttime = datetime.datetime.strptime(str('2011/01/01'), "%Y-%m-%d")
endtime = datetime.datetime.strptime(str('2019/12/31'), "%Y-%m-%d")
i = 0
d = starttime
delta = datetime.timedelta(days=1)
while d <= endtime:
    fre_NY.loc[i, "Date"] = d
    i = i+1
    d = d + delta

In [7]:
#Check if there is an outbreak for each day 
for i in range(len(noro)):
    if(noro.loc[i, "Exposurestate"] == 'NY'):
        startdate = datetime.datetime.strptime(noro.loc[i, "InitialExposure"], "%Y-%m-%d")
        enddate = datetime.datetime.strptime(noro.loc[i, "LastExposure"], "%Y-%m-%d")
        d = startdate
        delta = datetime.timedelta(days=1)
        index = fre_NY[fre_NY.Date == str(d)[:10]].index.tolist()[0]
        while d <= enddate:
            fre_NY.loc[index, "Noro"] = 1
            index = index +1
            d = d+ delta
    if(noro.loc[i, "Exposurestate"] == 'NJ'):
        nj = ['Bergen', 'Hudson','Passaic','Middlesex','Monmouth','Ocean','Somerset','Essex','Union','Morris','Sussex','Hunterdon']
        for j in range(0,11):
            if noro.loc[i, "ExposureCounty"+str(j+1)] in nj:
                startdate = datetime.datetime.strptime(noro.loc[i, "InitialExposure"], "%Y-%m-%d")
                enddate = datetime.datetime.strptime(noro.loc[i, "LastExposure"], "%Y-%m-%d")
                d = startdate
                delta = datetime.timedelta(days=1)
                index = fre_NY[fre_NY.Date == str(d)[:10]].index.tolist()[0]
                while d <= enddate:
                    fre_NY.loc[index, "Noro"] = 1
                    index = index +1
                    d = d+ delta
            else:
                continue
    if(noro.loc[i, "Exposurestate"] == 'PA'):
        for j in range(0,11):
            if(noro.loc[i, "ExposureCounty"+str(j+1)] == 'Pike'):
                startdate = datetime.datetime.strptime(noro.loc[i, "InitialExposure"], "%Y-%m-%d")
                enddate = datetime.datetime.strptime(noro.loc[i, "LastExposure"], "%Y-%m-%d")
                d = startdate
                delta = datetime.timedelta(days=1)
                index = fre_NY[fre_NY.Date == str(d)[:10]].index.tolist()[0]
                while d <= enddate:
                    fre_NY.loc[index, "Noro"] = 1
                    index = index +1
                    d = d+ delta

for i in range(len(fre_NY)):
    if(pd.isna(fre_NY.loc[i,"Noro"])):
        fre_NY.loc[i,"Noro"] = 0
        
for i in range(len(salm)):
    if(salm.loc[i, "Exposurestate"] == 'NY'):
        startdate = datetime.datetime.strptime(salm.loc[i, "InitialExposure"], "%Y-%m-%d")
        enddate = datetime.datetime.strptime(salm.loc[i, "LastExposure"], "%Y-%m-%d")
        d = startdate
        delta = datetime.timedelta(days=1)
        index = fre_NY[fre_NY.Date == str(d)[:10]].index.tolist()[0]
        while d <= enddate:
            fre_NY.loc[index, "Salm"] = 1
            index = index +1
            d = d+ delta
    if(salm.loc[i, "Exposurestate"] == 'NJ'):
        nj = ['Bergen', 'Hudson','Passaic','Middlesex','Monmouth','Ocean','Somerset','Essex','Union','Morris','Sussex','Hunterdon']
        for j in range(0,19):
            if salm.loc[i, "ExposureCounty"+str(j+1)] in nj:
                startdate = datetime.datetime.strptime(salm.loc[i, "InitialExposure"], "%Y-%m-%d")
                enddate = datetime.datetime.strptime(salm.loc[i, "LastExposure"], "%Y-%m-%d")
                d = startdate
                delta = datetime.timedelta(days=1)
                index = fre_NY[fre_NY.Date == str(d)[:10]].index.tolist()[0]
                while d <= enddate:
                    fre_NY.loc[index, "Salm"] = 1
                    index = index +1
                    d = d+ delta
            else:
                continue
    if(salm.loc[i, "Exposurestate"] == 'PA'):
        for j in range(0,19):
            if(salm.loc[i, "ExposureCounty"+str(j+1)] == 'Pike'):
                startdate = datetime.datetime.strptime(salm.loc[i, "InitialExposure"], "%Y-%m-%d")
                enddate = datetime.datetime.strptime(salm.loc[i, "LastExposure"], "%Y-%m-%d")
                d = startdate
                delta = datetime.timedelta(days=1)
                index = fre_NY[fre_NY.Date == str(d)[:10]].index.tolist()[0]
                while d <= enddate:
                    fre_NY.loc[index, "Salm"] = 1
                    index = index +1
                    d = d+ delta

for i in range(len(fre_NY)):
    if(pd.isna(fre_NY.loc[i,"Salm"])):
        fre_NY.loc[i,"Salm"] = 0

In [11]:
fre_NY['Noro'].sum()

118.0

In [18]:
station = pd.read_csv('/Users/evelyn/Desktop/project/weather-stations.csv', encoding= 'unicode_escape')
station

,USAF,WBAN,STATION NAME,CTRY,STATE,ICAO,LAT,LON,ELEV(M),BEGIN,END,County
0,690150,93121,TWENTY NINE PALMS,US,CA,KNXP,34.294,-116.147,610.5,19900102,20230501,San Bernardino
1,700001,26492,PORTAGE GLACIER,US,AK,PATO,60.784,-148.848,32.5,20060101,20230430,Anchorage
2,700197,26558,SELAWIK,US,AK,PASK,66.600,-159.986,7.6,20060101,20230430,Northwest Arctic
3,700260,27502,W POST-WILL ROGERS MEMORIAL AIRPORT,US,AK,PABR,71.287,-156.739,8.1,19450101,20230501,North Slope
4,700300,27503,WAINWRIGHT AIRPORT,US,AK,PAWI,70.637,-160.013,12.5,19991102,20230501,North Slope
...,...,...,...,...,...,...,...,...,...,...,...,...
3116,A07355,241,VIROQUA MUNICIPAL AIRPORT,US,WI,KY51,43.579,-90.913,394.1,20140731,20230501,Vernon
3117,A07357,182,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRPORT,US,MN,KY63,45.986,-95.992,367.3,20140731,20230501,Grant
3118,A07359,240,IONIA COUNTY AIRPORT,US,MI,KY70,42.938,-85.061,249.0,20140731,20230502,Ionia
3119,A51255,445,DEMOPOLIS MUNICIPAL AIRPORT,US,AL,KDYA,32.464,-87.954,34.1,20140731,20230501,Marengo
3120,A51256,451,BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT,US,MO,KFWB,36.699,-93.402,411.2,20140731,20230501,Stone

In [46]:
nj = ['Bergen', 'Hudson','Passaic','Middlesex','Monmouth','Ocean','Somerset','Essex','Union','Morris','Sussex','Hunterdon']

df_ny1 = station.loc[station.STATE.str.contains(str('PA')) & station.County.str.contains('Pike')]
df_ny2 = station.loc[station.STATE.astype(str).str.contains(str('NY'))]
df_ny33 = station.loc[station.STATE.astype(str).str.contains(str('NJ'))]
df_ny33.reset_index(drop=True, inplace = True)
df_ny3 = df_ny33
for i in range(len(df_ny33)):
    if df_ny33.loc[i,"County"][:-1] in nj:
        continue
    else:
        df_ny3 = df_ny3.drop(index = [i])
        
df_ny = pd.concat([df_ny2,df_ny3])
df_ny.reset_index(drop=True, inplace = True)
df_ny

,USAF,WBAN,STATION NAME,CTRY,STATE,ICAO,LAT,LON,ELEV(M),BEGIN,END,County
0,720553,99999,PORT AUTH DOWNTN MANHATTAN WALL ST HEL,US,NY,KJRB,40.701,-74.009,2.1,20160720,20230430,New York
1,720553,99999,PORT AUTH DOWNTN MANHATTAN WALL ST HEL,US,NY,KJRB,40.701,-74.009,2.1,20160720,20230430,Bronx
2,722098,64761,EAST HAMPTON AIRPORT,US,NY,KHTO,40.960,-72.252,17.1,20060101,20230501,Suffolk
3,724988,94704,DANSVILLE MUNICIPAL ARPT,US,NY,KDSV,42.570,-77.714,196.0,20010102,20230501,Livingston
4,725014,54780,MONTAUK AIRPORT,US,NY,KMTP,41.073,-71.924,2.0,20060101,20230501,Suffolk
...,...,...,...,...,...,...,...,...,...,...,...,...
72,725025,94741,TETERBORO AIRPORT,US,NJ,KTEB,40.859,-74.056,0.8,19730101,20230502,Bergen
73,740001,54793,SUSSEX AIRPORT,US,NJ,KFWN,41.199,-74.626,127.5,20060101,20230502,Sussex
74,997289,99999,SANDY HOOK,US,NJ,NaN,40.470,-74.000,10.0,20080101,20230430,Monmouth
75,998428,99999,OCEAN GROVE,US,NJ,NaN,40.209,-74.004,5.0,20100806,20110518,Monmouth
76,999999,178,LINDEN AIRPORT,US,NJ,KLDJ,40.617,-74.250,7.0,20140731,20161231,Union

In [47]:
import re
import os #Import for setting working dirrectory
import requests #Import for downloading data from database
from tqdm import tqdm
import sys
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from tqdm.notebook import tqdm
url_base = "https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/" #Daily data path 
for i in tqdm(range(len(df_ny))):
    wban_unmodified = df_ny.loc[i, "WBAN"]
    if 0 < wban_unmodified < 10000: 
        df_ny.loc[i, "WBAN"] = str(wban_unmodified).zfill(5)
    usaf = df_ny.loc[i, "USAF"]
    #print(usaf) 
    wban = df_ny.loc[i, "WBAN"]
    filename_noaa = str(usaf) + str(wban) + ".csv"
    for yr in range(2011,2020):
        url_loop_daily = url_base + str(yr) + "/" + filename_noaa
                    #print(url_loop_daily)

                    #Identifies file on website
        csv_current_daily = requests.get(url_loop_daily, allow_redirects = True)

                    #Sets the file name of the local imported file
        filename_local_daily =  str(usaf) + str(wban) + "-" + str(yr) + "DAILY.csv" 
        os.chdir('/Users/evelyn/Desktop/Frequency/NYM') #Sets path for daily data csv deposit  
        open(filename_local_daily, "wb").write(csv_current_daily.content)

  0%|          | 0/77 [00:00<?, ?it/s]

In [49]:
startdate = datetime.datetime.strptime(str('2011/01/01'), "%Y/%m/%d")
enddate = datetime.datetime.strptime(str('2019/12/31'), "%Y/%m/%d")
d = startdate
delta = datetime.timedelta(days=1)
path = '/Users/evelyn/Desktop/Frequency/NYM/'
import numpy as np
index = 0
while d <= endtime:
    yr = d.year
    temp = []; slp = []; stp = []; wdsp=[]; prcp=[]; mxspd=[]; dewp=[];
    for i in range(len(df_ny)):
        usaf = df_ny.loc[i, "USAF"] 
        wban = df_ny.loc[i, "WBAN"]
        filename = str(usaf) + str(wban) + "-" + str(yr) + "DAILY.csv"
        df = pd.read_csv(path+filename)
        if(sum(1 for line in open(path+filename)) < 15):
            continue 
        else:
            if(df.DATE.str.contains(str(d)[:10]).any()):
                m = df[df.DATE == str(d)[:10]].index.tolist()[0]
                if(df.loc[m, "TEMP"] < 9999):
                    temp.append(df.loc[m, "TEMP"])
                if(df.loc[m, "DEWP"] < 9999):
                    dewp.append(df.loc[m, "DEWP"])
                if(df.loc[m, "SLP"] < 9999):
                    slp.append(df.loc[m, "SLP"])
                if( 100<df.loc[m, "STP"] < 9999 and df.loc[m, "STP_ATTRIBUTES"]>0):
                    stp.append(df.loc[m, "STP"])
                elif(100>df.loc[m, "STP"]and df.loc[m, "STP_ATTRIBUTES"]>0):
                    stp.append(df.loc[m, "STP"]+1000)  
                if(df.loc[m, "WDSP"] < 999):
                    wdsp.append(df.loc[m, "WDSP"])
                if(df.loc[m, "MXSPD"] < 998):
                    mxspd.append(df.loc[m, "MXSPD"])
                if(df.loc[m, "PRCP"] < 99):
                    prcp.append(df.loc[m, "PRCP"])
        if(len(temp) > 0):
            fre_NY.loc[index, "TEMP"] = np.mean(temp)
        if(len(slp) > 0):
            fre_NY.loc[index, "SLP"] = np.mean(slp)
        if(len(stp) > 0):
            fre_NY.loc[index, "STP"] = np.mean(stp)
        if(len(wdsp) > 0):
            fre_NY.loc[index, "WDSP"] = np.mean(wdsp)
        if(len(prcp) > 0):
            fre_NY.loc[index, "PRCP"] = np.mean(prcp)
        if(len(dewp) > 0):
            fre_NY.loc[index, "DEWP"] = np.mean(dewp)
        if(len(mxspd) > 0):
            fre_NY.loc[index, "MXSPD"] = np.mean(mxspd)
        
    d = d + delta
    index = index + 1

In [50]:
fre_NY.isnull().sum()

Date     0
Noro     0
Salm     0
TEMP     0
SLP      0
STP      0
WDSP     0
PRCP     0
DEWP     0
MXSPD    0
dtype: int64

In [52]:
import math
for i in range(len(fre_NY)):
    t_c = (fre_NY.loc[i, "TEMP"] - 32)/1.8 
    d_c = (fre_NY.loc[i, "DEWP"]-32)/1.8
    rh = 100 * (math.exp(17.27 * d_c/(237.7 + d_c))/math.exp(17.27 * t_c/(237.7 + t_c)))
    fre_NY.loc[i, "RH"] = rh

for i in range(len(fre_NY)):
    fre_NY.loc[i, "SLP-STP"] =  fre_NY.loc[i, "SLP"] - fre_NY.loc[i, "STP"]

for i in range(len(fre_NY)):
    fre_NY.loc[i, "MSXPD-WDSP"] =  fre_NY.loc[i, "MXSPD"] - fre_NY.loc[i, "WDSP"]

In [53]:
fre_NY

,Date,Noro,Salm,TEMP,SLP,STP,WDSP,PRCP,DEWP,MXSPD,RH,SLP-STP,MSXPD-WDSP
0,2011-01-01,0.0,0.0,42.889394,1017.240741,999.708511,4.361404,0.004242,34.900000,9.676786,73.171777,17.532230,5.315382
1,2011-01-02,0.0,0.0,40.486364,1014.381818,997.010870,5.775439,0.057538,34.903922,11.571930,80.295544,17.370949,5.796491
2,2011-01-03,0.0,0.0,29.531818,1018.785455,1001.054348,9.568421,0.033333,15.166667,16.071930,54.494040,17.731107,6.503509
3,2011-01-04,0.0,0.0,29.851515,1015.231481,997.578723,5.381034,0.005077,17.413462,11.605172,59.310228,17.652758,6.224138
4,2011-01-05,0.0,0.0,30.338462,1010.100000,992.751064,7.096491,0.022656,18.659615,13.501754,61.356505,17.348936,6.405263
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2019-12-27,0.0,0.0,44.940580,1022.911864,1004.852941,5.492537,0.005373,39.474074,11.711667,81.018420,18.058923,6.219129
3283,2019-12-28,0.0,0.0,41.294203,1022.498305,1004.405882,4.880597,0.009701,34.427273,10.646667,76.356939,18.092423,5.766070
3284,2019-12-29,0.0,0.0,35.616176,1022.377586,1004.792000,3.275758,0.009180,29.113208,8.767797,76.947108,17.585586,5.492039
3285,2019-12-30,0.0,0.0,39.285075,1009.805263,992.551020,8.710769,0.412258,36.952830,17.658621,91.255886,17.254243,8.947851
3286,2019-12-31,0.0,0.0,37.407353,1004.680702,987.652000,6.136364,0.262656,33.656604,15.500000,86.163122,17.028702,9.363636

In [54]:
fre_NY.to_csv('/Users/evelyn/Desktop/Frequency/NYM.csv')

## Los Angeles

In [27]:
fre_LA = pd.DataFrame()

import datetime
starttime = datetime.datetime.strptime(str('2011/01/01'), "%Y/%m/%d")
endtime = datetime.datetime.strptime(str('2019/12/31'), "%Y/%m/%d")
i = 0
d = starttime
delta = datetime.timedelta(days=1)
while d <= endtime:
    fre_LA.loc[i, "Date"] = d
    i = i+1
    d = d + delta

In [28]:
for i in range(len(noro)):
    if(noro.loc[i, "Exposurestate"] == 'CA'):
        for j in range(0,11):
            if(noro.loc[i, "ExposureCounty"+str(j+1)] == 'Los Angeles'):
                startdate = datetime.datetime.strptime(noro.loc[i, "InitialExposure"], "%Y/%m/%d")
                enddate = datetime.datetime.strptime(noro.loc[i, "LastExposure"], "%Y/%m/%d")
                d = startdate
                delta = datetime.timedelta(days=1)
                index = fre_LA[fre_LA.Date == str(d)[:10]].index.tolist()[0]
                while d <= enddate:
                    fre_LA.loc[index, "Noro"] = 1
                    index = index +1
                    d = d+ delta

for i in range(len(fre_LA)):
    if(pd.isna(fre_LA.loc[i,"Noro"])):
        fre_LA.loc[i,"Noro"] = 0

In [40]:
fre_LA

           Date  Noro  Salm
0    2011-01-01   0.0   0.0
1    2011-01-02   0.0   0.0
2    2011-01-03   0.0   0.0
3    2011-01-04   0.0   0.0
4    2011-01-05   0.0   0.0
...         ...   ...   ...
3282 2019-12-27   0.0   0.0
3283 2019-12-28   1.0   0.0
3284 2019-12-29   0.0   0.0
3285 2019-12-30   0.0   0.0
3286 2019-12-31   0.0   0.0

[3287 rows x 3 columns]

In [30]:
for i in range(len(salm)):
    if(salm.loc[i, "Exposurestate"] == 'CA'):
        for j in range(0,11):
            if(salm.loc[i, "ExposureCounty"+str(j+1)] == 'Los Angeles'):
                startdate = datetime.datetime.strptime(salm.loc[i, "InitialExposure"], "%Y/%m/%d")
                enddate = datetime.datetime.strptime(salm.loc[i, "LastExposure"], "%Y/%m/%d")
                d = startdate
                delta = datetime.timedelta(days=1)
                index = fre_LA[fre_LA.Date == str(d)[:10]].index.tolist()[0]
                while d <= enddate:
                    fre_LA.loc[index, "Salm"] = 1
                    index = index +1
                    d = d+ delta

for i in range(len(fre_LA)):
    if(pd.isna(fre_LA.loc[i,"Salm"])):
        fre_LA.loc[i,"Salm"] = 0

In [31]:
fre_LA['Salm'].sum()

597.0

In [33]:
#
station = pd.read_csv('/Users/evelyn/Desktop/project/weather-stations.csv', encoding= 'unicode_escape')
station

,USAF,WBAN,STATION NAME,CTRY,STATE,ICAO,LAT,LON,ELEV(M),BEGIN,END,County
0,690150,93121,TWENTY NINE PALMS,US,CA,KNXP,34.294,-116.147,610.5,19900102,20230501,San Bernardino
1,700001,26492,PORTAGE GLACIER,US,AK,PATO,60.784,-148.848,32.5,20060101,20230430,Anchorage
2,700197,26558,SELAWIK,US,AK,PASK,66.600,-159.986,7.6,20060101,20230430,Northwest Arctic
3,700260,27502,W POST-WILL ROGERS MEMORIAL AIRPORT,US,AK,PABR,71.287,-156.739,8.1,19450101,20230501,North Slope
4,700300,27503,WAINWRIGHT AIRPORT,US,AK,PAWI,70.637,-160.013,12.5,19991102,20230501,North Slope
...,...,...,...,...,...,...,...,...,...,...,...,...
3116,A07355,241,VIROQUA MUNICIPAL AIRPORT,US,WI,KY51,43.579,-90.913,394.1,20140731,20230501,Vernon
3117,A07357,182,ELBOW LAKE MUNICIPAL PRIDE OF THE PRAIRIE AIRPORT,US,MN,KY63,45.986,-95.992,367.3,20140731,20230501,Grant
3118,A07359,240,IONIA COUNTY AIRPORT,US,MI,KY70,42.938,-85.061,249.0,20140731,20230502,Ionia
3119,A51255,445,DEMOPOLIS MUNICIPAL AIRPORT,US,AL,KDYA,32.464,-87.954,34.1,20140731,20230501,Marengo
3120,A51256,451,BRANSON WEST MUNICIPAL EMERSON FIELD AIRPORT,US,MO,KFWB,36.699,-93.402,411.2,20140731,20230501,Stone

In [36]:
df_LA = station.loc[station.STATE.str.contains(str('CA')) & station.County.str.contains('Los Angeles')]

df_LA.reset_index(drop=True, inplace = True)
df_LA

,USAF,WBAN,STATION NAME,CTRY,STATE,ICAO,LAT,LON,ELEV(M),BEGIN,END,County
0,720046,99999,NEWHALL,US,CA,K3A6,34.370,-118.570,427.0,20040224,20110905,Los Angeles
1,720952,99999,GRAY BUTTE FLD,US,CA,KGXA,34.564,-117.675,920.5,20110825,20230430,Los Angeles
2,722874,93134,DOWNTOWN L.A./USC CAMPUS,US,CA,KCQT,34.024,-118.291,54.6,20000101,20230501,Los Angeles
3,722880,23152,BURBANK-GLENDALE-PASA ARPT,US,CA,KBUR,34.200,-118.365,222.7,19430601,20230501,Los Angeles
4,722885,93197,SANTA MONICA MUNI AIRPORT,US,CA,KSMO,34.021,-118.447,53.3,20060101,20230501,Los Angeles
5,722886,23130,VAN NUYS AIRPORT,US,CA,KVNY,34.212,-118.491,239.2,19421211,20230501,Los Angeles
6,722887,3180,BRACKETT FIELD AIRPORT,US,CA,KPOC,34.100,-117.783,308.2,20060101,20230501,Los Angeles
7,722920,23191,CATALINA AIRPORT,US,CA,KAVX,33.404,-118.415,477.0,19430612,20230501,Los Angeles
8,722925,93117,NALF/F. SHERMAN FLD ARPT,US,CA,KNUC,33.023,-118.588,55.5,19430610,20230430,Los Angeles
9,722950,23174,LOS ANGELES INTERNATIONAL AIRPORT,US,CA,KLAX,33.938,-118.387,29.7,19440101,20230501,Los Angeles
10,722955,3174,ZAMPERINI FIELD AIRPORT,US,CA,KTOA,33.803,-118.340,29.6,20060101,20230501,Los Angeles
11,722956,3167,NRTHORP FLD/HATHRN MUNI AP,US,CA,KHHR,33.924,-118.333,16.6,20060101,20230501,Los Angeles
12,722970,23129,LONG BEACH / DAUGHERTY FIELD / AIRPORT,US,CA,KLGB,33.812,-118.147,10.2,19430101,20230501,Los Angeles
13,723816,3159,GENERAL WILLIAM J. FOX AIRFIELD AIRPORT,US,CA,KWJF,34.741,-118.213,712.6,19740601,20230430,Los Angeles
14,723820,23182,PDLE PRODN FLT/TST AF PLT,US,CA,KPMD,34.629,-118.083,764.8,19730101,20230430,Los Angeles
15,723830,23187,SANDBERG,US,CA,KSDB,34.744,-118.725,1374.7,19730101,20230430,Los Angeles
16,745057,53130,WHITMAN AIRPORT,US,CA,KWHP,34.259,-118.413,305.7,20060101,20230501,Los Angeles
17,747043,3165,EL MONTE AIRPORT,US,CA,KEMT,34.083,-118.033,90.2,20060101,20230501,Los Angeles
18,994028,99999,SANTA MONICA PIER,US,CA,NaN,34.008,-118.500,2.0,20080101,20230430,Los Angeles
19,994035,99999,LOS ANGELES,US,CA,NaN,33.720,-118.272,2.0,20080101,20221026,Los Angeles

In [38]:
import re
import os #Import for setting working dirrectory
import requests #Import for downloading data from database
from tqdm import tqdm
import sys
import numpy as np
import warnings
warnings.filterwarnings("ignore")

url_base = "https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/" #Daily data path 
for i in range(len(df_LA)):
    wban_unmodified = df_LA.loc[i, "WBAN"]
    if 0 < wban_unmodified < 10000: 
        df_LA.loc[i, "WBAN"] = str(wban_unmodified).zfill(5)
    usaf = df_LA.loc[i, "USAF"]
    #print(usaf) 
    wban = df_LA.loc[i, "WBAN"]
    filename_noaa = str(usaf) + str(wban) + ".csv"
    for yr in range(2011,2020):
        url_loop_daily = url_base + str(yr) + "/" + filename_noaa
                    #print(url_loop_daily)

                    #Identifies file on website
        csv_current_daily = requests.get(url_loop_daily, allow_redirects = True)

                    #Sets the file name of the local imported file
        filename_local_daily =  str(usaf) + str(wban) + "-" + str(yr) + "DAILY.csv" 
        os.chdir('/Users/evelyn/Desktop/Frequency/LA') #Sets path for daily data csv deposit  
        open(filename_local_daily, "wb").write(csv_current_daily.content)

In [56]:
startdate = datetime.datetime.strptime(str('2011/01/01'), "%Y/%m/%d")
enddate = datetime.datetime.strptime(str('2019/12/31'), "%Y/%m/%d")
d = startdate
delta = datetime.timedelta(days=1)
path = '/Users/evelyn/Desktop/Frequency/LA/'
import numpy as np
index = 0
while d <= endtime:
    yr = d.year
    temp = []; slp = []; stp = []; wdsp=[]; prcp=[]; mxspd=[]; dewp=[];
    for i in range(len(df_LA)):
        usaf = df_LA.loc[i, "USAF"] 
        wban = df_LA.loc[i, "WBAN"]
        filename = str(usaf) + str(wban) + "-" + str(yr) + "DAILY.csv"
        df = pd.read_csv(path+filename)
        if(sum(1 for line in open(path+filename)) < 15):
            continue 
        else:
            if(df.DATE.str.contains(str(d)[:10]).any()):
                m = df[df.DATE == str(d)[:10]].index.tolist()[0]
                if(df.loc[m, "TEMP"] < 9999):
                    temp.append(df.loc[m, "TEMP"])
                if(df.loc[m, "DEWP"] < 9999):
                    dewp.append(df.loc[m, "DEWP"])
                if(df.loc[m, "SLP"] < 9999):
                    slp.append(df.loc[m, "SLP"])
                if( 100<df.loc[m, "STP"] < 9999 and df.loc[m, "STP_ATTRIBUTES"]>0):
                    stp.append(df.loc[m, "STP"])
                elif(100>df.loc[m, "STP"]and df.loc[m, "STP_ATTRIBUTES"]>0):
                    stp.append(df.loc[m, "STP"]+1000)  
                if(df.loc[m, "WDSP"] < 999):
                    wdsp.append(df.loc[m, "WDSP"])
                if(df.loc[m, "MXSPD"] < 998):
                    mxspd.append(df.loc[m, "MXSPD"])
                if(df.loc[m, "PRCP"] < 99):
                    prcp.append(df.loc[m, "PRCP"])
        if(len(temp) > 0):
            fre_LA.loc[index, "TEMP"] = np.mean(temp)
        if(len(slp) > 0):
            fre_LA.loc[index, "SLP"] = np.mean(slp)
        if(len(stp) > 0):
            fre_LA.loc[index, "STP"] = np.mean(stp)
        if(len(wdsp) > 0):
            fre_LA.loc[index, "WDSP"] = np.mean(wdsp)
        if(len(prcp) > 0):
            fre_LA.loc[index, "PRCP"] = np.mean(prcp)
        if(len(dewp) > 0):
            fre_LA.loc[index, "DEWP"] = np.mean(dewp)
        if(len(mxspd) > 0):
            fre_LA.loc[index, "MXSPD"] = np.mean(mxspd)
        
    d = d + delta
    index = index + 1

In [58]:
fre_LA.isnull().sum()

Date     0
Noro     0
Salm     0
TEMP     0
SLP      0
STP      0
WDSP     0
PRCP     0
DEWP     0
MXSPD    0
dtype: int64

In [72]:
import math
for i in range(len(fre_LA)):
    t_c = (fre_LA.loc[i, "TEMP"] - 32)/1.8 
    d_c = (fre_LA.loc[i, "DEWP"]-32)/1.8
    rh = 100 * (math.exp(17.27 * d_c/(237.7 + d_c))/math.exp(17.27 * t_c/(237.7 + t_c)))
    fre_LA.loc[i, "RH"] = rh

for i in range(len(fre_LA)):
    fre_LA.loc[i, "SLP-STP"] =  fre_LA.loc[i, "SLP"] - fre_LA.loc[i, "STP"]

for i in range(len(fre_LA)):
    fre_LA.loc[i, "MSXPD-WDSP"] =  fre_LA.loc[i, "MXSPD"] - fre_LA.loc[i, "WDSP"]

In [73]:
fre_LA

,Date,Noro,Salm,TEMP,SLP,STP,WDSP,PRCP,DEWP,MXSPD,RH,SLP-STP,MSXPD-WDSP
0,2011-01-01,0.0,0.0,45.564286,1022.075000,982.258333,3.550000,0.000000,25.366667,7.285714,44.814321,39.816667,3.735714
1,2011-01-02,0.0,0.0,45.107143,1021.725000,981.316667,4.428571,0.000000,29.483333,10.557143,54.036525,40.408333,6.128571
2,2011-01-03,0.0,0.0,45.285714,1017.325000,989.850000,5.571429,0.390000,40.933333,10.121429,84.628211,27.475000,4.550000
3,2011-01-04,0.0,0.0,49.042857,1021.658333,994.116667,4.400000,0.127857,36.583333,8.585714,61.969920,27.541667,4.185714
4,2011-01-05,0.0,0.0,51.242857,1023.366667,995.858333,4.714286,0.000000,34.233333,9.242857,52.016667,27.508333,4.528571
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2019-12-27,0.0,0.0,48.717647,1012.976923,985.586667,5.323529,0.349412,36.256250,10.535294,61.921320,27.390256,5.211765
3283,2019-12-28,1.0,0.0,48.522222,1017.571429,982.187500,3.544444,0.030000,34.362500,9.127778,57.852899,35.383929,5.583333
3284,2019-12-29,0.0,0.0,48.466667,1020.964286,985.462500,2.688889,0.000000,38.175000,6.800000,67.413597,35.501786,4.111111
3285,2019-12-30,0.0,0.0,51.316667,1016.928571,981.456250,4.838889,0.002941,37.382353,11.522222,58.774696,35.472321,6.683333
3286,2019-12-31,0.0,0.0,56.227778,1016.364286,980.893750,6.366667,0.005000,32.652941,12.605556,40.689529,35.470536,6.238889

In [74]:
fre_LA.to_csv('/Users/evelyn/Desktop/Frequency/Los Angeles.csv')

## Cook

In [63]:
# Create frequency dateframe with date column
fre_ck = pd.DataFrame()

import datetime
# set date range
starttime = datetime.datetime.strptime(str('2011/01/01'), "%Y/%m/%d")
endtime = datetime.datetime.strptime(str('2019/12/31'), "%Y/%m/%d")
i = 0
d = starttime
delta = datetime.timedelta(days=1)
while d <= endtime:
    fre_ck.loc[i, "Date"] = d
    i = i+1
    d = d + delta

In [64]:
#Check if there is an outbreak for each day 
for i in range(len(noro)):
    if(noro.loc[i, "Exposurestate"] == 'IL'):
        for j in range(0,11):
            if(noro.loc[i, "ExposureCounty"+str(j+1)] == 'Cook'):
                startdate = datetime.datetime.strptime(noro.loc[i, "InitialExposure"], "%Y/%m/%d")
                enddate = datetime.datetime.strptime(noro.loc[i, "LastExposure"], "%Y/%m/%d")
                d = startdate
                delta = datetime.timedelta(days=1)
                index = fre_ck[fre_ck.Date == str(d)[:10]].index.tolist()[0]
                while d <= enddate:
                    fre_ck.loc[index, "Noro"] = 1
                    index = index +1
                    d = d+ delta

for i in range(len(fre_ck)):
    if(pd.isna(fre_ck.loc[i,"Noro"])):
        fre_ck.loc[i,"Noro"] = 0
        
for i in range(len(salm)):
    if(salm.loc[i, "Exposurestate"] == 'IL'):
        for j in range(0,11):
            if(salm.loc[i, "ExposureCounty"+str(j+1)] == 'Cook'):
                startdate = datetime.datetime.strptime(salm.loc[i, "InitialExposure"], "%Y/%m/%d")
                enddate = datetime.datetime.strptime(salm.loc[i, "LastExposure"], "%Y/%m/%d")
                d = startdate
                delta = datetime.timedelta(days=1)
                index = fre_ck[fre_ck.Date == str(d)[:10]].index.tolist()[0]
                while d <= enddate:
                    fre_ck.loc[index, "Salm"] = 1
                    index = index +1
                    d = d+ delta

for i in range(len(fre_ck)):
    if(pd.isna(fre_ck.loc[i,"Salm"])):
        fre_ck.loc[i,"Salm"] = 0

In [65]:
fre_ck['Noro'].sum()

437.0

In [66]:
fre_ck['Salm'].sum()

376.0

In [67]:
df_ck = station.loc[station.STATE.str.contains(str('IL')) & station.County.str.contains('Cook')]

df_ck.reset_index(drop=True, inplace = True)
df_ck

,USAF,WBAN,STATION NAME,CTRY,STATE,ICAO,LAT,LON,ELEV(M),BEGIN,END,County
0,722126,4879,LANSING MUNICIPAL AP,US,IL,KIGQ,41.540,-87.532,187.8,20060101,20230502,Cook
1,725306,99999,GLENVIEW NAS,US,IL,KNBU,42.083,-87.817,199.0,20050905,20221213,Cook
2,725340,14819,CHICAGO MIDWAY INTL ARPT,US,IL,KMDW,41.784,-87.755,185.8,19730101,20230501,Cook
3,744665,4838,PALWAUKEE MUNICIPAL ARPT,US,IL,KPWK,42.121,-87.905,191.6,20060101,20230501,Cook
4,997338,99999,CHICAGO,US,IL,NaN,42.000,-87.500,202.0,20080101,20230430,Cook
5,998497,99999,FOSTER AVE CHICAGO,US,IL,NaN,41.976,-87.648,177.0,20120620,20201125,Cook
6,998499,99999,NORTHERLY ISLAND,US,IL,NaN,41.856,-87.609,190.0,20120618,20230425,Cook
7,999999,14855,NAVAL AIR STATION,US,IL,NaN,42.083,-87.833,196.9,19450315,20221213,Cook

In [68]:
import re
import os #Import for setting working dirrectory
import requests #Import for downloading data from database
from tqdm import tqdm
import sys
import numpy as np
import warnings
warnings.filterwarnings("ignore")

url_base = "https://www.ncei.noaa.gov/data/global-summary-of-the-day/access/" #Daily data path 
for i in range(len(df_ck)):
    wban_unmodified = df_ck.loc[i, "WBAN"]
    if 0 < wban_unmodified < 10000: 
        df_ck.loc[i, "WBAN"] = str(wban_unmodified).zfill(5)
    usaf = df_ck.loc[i, "USAF"]
    #print(usaf) 
    wban = df_ck.loc[i, "WBAN"]
    filename_noaa = str(usaf) + str(wban) + ".csv"
    for yr in range(2011,2020):
        url_loop_daily = url_base + str(yr) + "/" + filename_noaa
                    #print(url_loop_daily)

                    #Identifies file on website
        csv_current_daily = requests.get(url_loop_daily, allow_redirects = True)

                    #Sets the file name of the local imported file
        filename_local_daily =  str(usaf) + str(wban) + "-" + str(yr) + "DAILY.csv" 
        os.chdir('/Users/evelyn/Desktop/Frequency/Cook') #Sets path for daily data csv deposit  
        open(filename_local_daily, "wb").write(csv_current_daily.content)

In [69]:
startdate = datetime.datetime.strptime(str('2011/01/01'), "%Y/%m/%d")
enddate = datetime.datetime.strptime(str('2019/12/31'), "%Y/%m/%d")
d = startdate
delta = datetime.timedelta(days=1)
path = '/Users/evelyn/Desktop/Frequency/Cook/'
import numpy as np
index = 0
while d <= endtime:
    yr = d.year
    temp = []; slp = []; stp = []; wdsp=[]; prcp=[]; mxspd=[]; dewp=[];
    for i in range(len(df_ck)):
        usaf = df_ck.loc[i, "USAF"] 
        wban = df_ck.loc[i, "WBAN"]
        filename = str(usaf) + str(wban) + "-" + str(yr) + "DAILY.csv"
        df = pd.read_csv(path+filename)
        if(sum(1 for line in open(path+filename)) < 15):
            continue 
        else:
            if(df.DATE.str.contains(str(d)[:10]).any()):
                m = df[df.DATE == str(d)[:10]].index.tolist()[0]
                if(df.loc[m, "TEMP"] < 9999):
                    temp.append(df.loc[m, "TEMP"])
                if(df.loc[m, "DEWP"] < 9999):
                    dewp.append(df.loc[m, "DEWP"])
                if(df.loc[m, "SLP"] < 9999):
                    slp.append(df.loc[m, "SLP"])
                if( 100<df.loc[m, "STP"] < 9999 and df.loc[m, "STP_ATTRIBUTES"]>0):
                    stp.append(df.loc[m, "STP"])
                elif(100>df.loc[m, "STP"]and df.loc[m, "STP_ATTRIBUTES"]>0):
                    stp.append(df.loc[m, "STP"]+1000)  
                if(df.loc[m, "WDSP"] < 999):
                    wdsp.append(df.loc[m, "WDSP"])
                if(df.loc[m, "MXSPD"] < 998):
                    mxspd.append(df.loc[m, "MXSPD"])
                if(df.loc[m, "PRCP"] < 99):
                    prcp.append(df.loc[m, "PRCP"])
        if(len(temp) > 0):
            fre_ck.loc[index, "TEMP"] = np.mean(temp)
        if(len(slp) > 0):
            fre_ck.loc[index, "SLP"] = np.mean(slp)
        if(len(stp) > 0):
            fre_ck.loc[index, "STP"] = np.mean(stp)
        if(len(wdsp) > 0):
            fre_ck.loc[index, "WDSP"] = np.mean(wdsp)
        if(len(prcp) > 0):
            fre_ck.loc[index, "PRCP"] = np.mean(prcp)
        if(len(dewp) > 0):
            fre_ck.loc[index, "DEWP"] = np.mean(dewp)
        if(len(mxspd) > 0):
            fre_ck.loc[index, "MXSPD"] = np.mean(mxspd)
        
    d = d + delta
    index = index + 1

In [70]:
fre_ck

,Date,Noro,Salm,TEMP,STP,WDSP,DEWP,MXSPD,SLP,PRCP
0,2011-01-01,0.0,0.0,35.000,987.633333,17.000,24.800000,24.175,1010.55,0.483333
1,2011-01-02,0.0,0.0,18.100,998.166667,12.800,5.900000,20.750,1022.50,0.000000
2,2011-01-03,0.0,0.0,27.000,996.166667,9.300,15.833333,14.275,1019.95,0.000000
3,2011-01-04,0.0,0.0,27.100,991.933333,9.725,17.600000,15.975,1015.80,0.000000
4,2011-01-05,0.0,0.0,19.075,992.633333,6.300,9.433333,12.000,1016.75,0.000000
...,...,...,...,...,...,...,...,...,...,...
3282,2019-12-27,0.0,0.0,39.040,998.833333,8.180,33.300000,13.980,1022.25,0.000000
3283,2019-12-28,0.0,0.0,35.120,999.300000,5.420,31.480000,10.620,1023.30,0.000000
3284,2019-12-29,0.0,0.0,51.500,983.033333,9.900,48.500000,16.060,1005.00,0.434000
3285,2019-12-30,0.0,0.0,39.820,976.100000,13.160,35.300000,20.740,998.55,0.280000
3286,2019-12-31,0.0,0.0,27.880,981.633333,15.620,21.600000,23.620,1005.90,0.004000

In [71]:
fre_ck.isnull().sum()

Date     0
Noro     0
Salm     0
TEMP     0
STP      0
WDSP     0
DEWP     0
MXSPD    0
SLP      0
PRCP     0
dtype: int64

In [75]:
import math
for i in range(len(fre_ck)):
    t_c = (fre_ck.loc[i, "TEMP"] - 32)/1.8 
    d_c = (fre_ck.loc[i, "DEWP"]-32)/1.8
    rh = 100 * (math.exp(17.27 * d_c/(237.7 + d_c))/math.exp(17.27 * t_c/(237.7 + t_c)))
    fre_ck.loc[i, "RH"] = rh

for i in range(len(fre_ck)):
    fre_ck.loc[i, "SLP-STP"] =  fre_ck.loc[i, "SLP"] - fre_ck.loc[i, "STP"]

for i in range(len(fre_ck)):
    fre_ck.loc[i, "MSXPD-WDSP"] =  fre_ck.loc[i, "MXSPD"] - fre_ck.loc[i, "WDSP"]

In [76]:
fre_ck

,Date,Noro,Salm,TEMP,STP,WDSP,DEWP,MXSPD,SLP,PRCP,RH,SLP-STP,MSXPD-WDSP
0,2011-01-01,0.0,0.0,35.000,987.633333,17.000,24.800000,24.175,1010.55,0.483333,65.978549,22.916667,7.175
1,2011-01-02,0.0,0.0,18.100,998.166667,12.800,5.900000,20.750,1022.50,0.000000,58.156251,24.333333,7.950
2,2011-01-03,0.0,0.0,27.000,996.166667,9.300,15.833333,14.275,1019.95,0.000000,62.252845,23.783333,4.975
3,2011-01-04,0.0,0.0,27.100,991.933333,9.725,17.600000,15.975,1015.80,0.000000,66.937764,23.866667,6.250
4,2011-01-05,0.0,0.0,19.075,992.633333,6.300,9.433333,12.000,1016.75,0.000000,65.465974,24.116667,5.700
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2019-12-27,0.0,0.0,39.040,998.833333,8.180,33.300000,13.980,1022.25,0.000000,79.672434,23.416667,5.800
3283,2019-12-28,0.0,0.0,35.120,999.300000,5.420,31.480000,10.620,1023.30,0.000000,86.412519,24.000000,5.200
3284,2019-12-29,0.0,0.0,51.500,983.033333,9.900,48.500000,16.060,1005.00,0.434000,89.448030,21.966667,6.160
3285,2019-12-30,0.0,0.0,39.820,976.100000,13.160,35.300000,20.740,998.55,0.280000,83.711167,22.450000,7.580
3286,2019-12-31,0.0,0.0,27.880,981.633333,15.620,21.600000,23.620,1005.90,0.004000,76.926113,24.266667,8.000

In [77]:
fre_ck.to_csv('/Users/evelyn/Desktop/Frequency/Cook.csv')