In [ ]:
# Frequency total cases per year from 2010 to 2019

In [86]:
# import data
import pandas as pd
frequency = pd.read_csv('/Users/evelyn/Desktop/weather information/Outbreak Frequency.csv')
# Sets columns Total cases of salmonella and norovirus and initialize it as 0
frequency['Salm Total cases'] = 0
frequency['Noro Total cases'] = 0

In [87]:
#import salm data and calculate the total cases spanning from 2010 to 2019

salm = pd.read_csv('/Users/evelyn/Desktop/weather information/SALM2010-2019.csv')

for i in range(len(salm)):
    a = 0
    for j in range(0,19):
        if not(pd.isna(salm.loc[i, "ExposureCounty"+str(j+1)])):
            a = a + 1
        else:
            break
    for z in range(0,19):
        if not(pd.isna(salm.loc[i, "ExposureCounty"+str(z+1)])):
            df = frequency.loc[frequency.USPS.str.contains(str(salm.loc[i,"Exposurestate"])) & frequency.NAME1.str.contains(str(salm.loc[i,"ExposureCounty"+str(z+1)]))]
            index = df.index.tolist()[0]  
            frequency.loc[index, "Salm Total cases"] = frequency.loc[index, "Salm Total cases"] + (salm.loc[i, "TotalCases"])/a

In [88]:
#import noro data and calculate the total cases spanning from 2010 to 2019

noro = pd.read_csv('/Users/evelyn/Desktop/weather information/NORO2010-2019.csv')

for i in range(len(noro)):
    a = 0
    for j in range(0,11):
        if not(pd.isna(noro.loc[i, "ExposureCounty"+str(j+1)])):
            a = a + 1
        else:
            break
    for z in range(0,11):
        if not(pd.isna(noro.loc[i, "ExposureCounty"+str(z+1)])):
            df = frequency.loc[frequency.USPS.str.contains(str(noro.loc[i,"Exposurestate"])) & frequency.NAME1.str.contains(str(noro.loc[i,"ExposureCounty"+str(z+1)]))]
            index = df.index.tolist()[0]  
            frequency.loc[index, "Noro Total cases"] = frequency.loc[index, "Salm Total cases"] + (noro.loc[i, "TotalCases"])/a

In [103]:
# Caculate the SALM total num of outbreaks in each county 
for i in range(len(frequency)):
    a = 0
    df = salm[salm.Exposurestate.str.contains(str(frequency.loc[i,"USPS"]))]
    if(len(df) == 0):
        frequency.loc[i,"SALM"] = 0
    else:
        for j in range(0,19):
            a = a + len(df[df["ExposureCounty"+str(j+1)]==str(frequency.loc[i,"NAME1"])])
        frequency.loc[i, "SALM"] = int(a)

In [104]:
frequency

,USPS,GEOID,ANSICODE,NAME,NAME1,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG,SALM,NORO,Salm Total cases,Noro Total cases,SALM1
0,AL,1001,161526,Autauga County,Autauga,1.539631e+09,25677536,594.455,9.914,32.532237,-86.646440,0,NaN,0.0,0.0,NaN
1,AL,1003,161527,Baldwin County,Baldwin,4.117725e+09,1132887353,1589.863,437.410,30.659218,-87.746067,1,NaN,8.0,0.0,NaN
2,AL,1005,161528,Barbour County,Barbour,2.292160e+09,50523213,885.008,19.507,31.870253,-85.405104,0,NaN,0.0,0.0,NaN
3,AL,1007,161529,Bibb County,Bibb,1.612189e+09,9572302,622.470,3.696,33.015893,-87.127148,0,NaN,0.0,0.0,NaN
4,AL,1009,161530,Blount County,Blount,1.670259e+09,14860281,644.891,5.738,33.977358,-86.566440,0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,WY,56037,1609192,Sweetwater County,Sweetwater,2.700575e+10,166230245,10426.980,64.182,41.660328,-108.875677,0,NaN,0.0,0.0,NaN
3139,WY,56039,1605083,Teton County,Teton,1.035179e+10,570858887,3996.849,220.410,44.048662,-110.426087,0,NaN,0.0,34.0,NaN
3140,WY,56041,1605084,Uinta County,Uinta,5.391632e+09,16625817,2081.721,6.419,41.284726,-110.558947,0,NaN,0.0,21.0,NaN
3141,WY,56043,1605085,Washakie County,Washakie,5.798152e+09,10415890,2238.679,4.022,43.878831,-107.669052,0,NaN,0.0,0.0,NaN
3142,WY,56045,1605086,Weston County,Weston,6.210804e+09,5225499,2398.005,2.018,43.846213,-104.570020,0,NaN,0.0,0.0,NaN

In [106]:
# Caculate the NORO total num of outbreaks in each county 
for i in range(len(frequency)):
    a = 0
    df = noro[noro.Exposurestate.str.contains(str(frequency.loc[i,"USPS"]))]
    if(len(df) == 0):
        frequency.loc[i,"NORO"] = 0
    else:
        for j in range(0,11):
            a = a + len(df[df["ExposureCounty"+str(j+1)]==str(frequency.loc[i,"NAME1"])])
        frequency.loc[i, "NORO"] = int(a)

In [108]:
frequency['SALM'] = frequency['SALM'].astype(int)
frequency['NORO'] = frequency['NORO'].astype(int)
frequency['Salm Total cases'] = frequency['Salm Total cases'].astype(int)
frequency['Noro Total cases'] = frequency['Noro Total cases'].astype(int)
frequency = frequency.drop(['SALM1'], axis = 1)
frequency

,USPS,GEOID,ANSICODE,NAME,NAME1,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG,SALM,NORO,Salm Total cases,Noro Total cases
0,AL,1001,161526,Autauga County,Autauga,1.539631e+09,25677536,594.455,9.914,32.532237,-86.646440,0,0,0,0
1,AL,1003,161527,Baldwin County,Baldwin,4.117725e+09,1132887353,1589.863,437.410,30.659218,-87.746067,1,0,8,0
2,AL,1005,161528,Barbour County,Barbour,2.292160e+09,50523213,885.008,19.507,31.870253,-85.405104,0,0,0,0
3,AL,1007,161529,Bibb County,Bibb,1.612189e+09,9572302,622.470,3.696,33.015893,-87.127148,0,0,0,0
4,AL,1009,161530,Blount County,Blount,1.670259e+09,14860281,644.891,5.738,33.977358,-86.566440,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,WY,56037,1609192,Sweetwater County,Sweetwater,2.700575e+10,166230245,10426.980,64.182,41.660328,-108.875677,0,0,0,0
3139,WY,56039,1605083,Teton County,Teton,1.035179e+10,570858887,3996.849,220.410,44.048662,-110.426087,0,1,0,34
3140,WY,56041,1605084,Uinta County,Uinta,5.391632e+09,16625817,2081.721,6.419,41.284726,-110.558947,0,1,0,21
3141,WY,56043,1605085,Washakie County,Washakie,5.798152e+09,10415890,2238.679,4.022,43.878831,-107.669052,0,0,0,0
3142,WY,56045,1605086,Weston County,Weston,6.210804e+09,5225499,2398.005,2.018,43.846213,-104.570020,0,0,0,0